.channel-list {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 20px auto;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }

  .channel {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px;
    flex: .25 .25;

    .head {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;
      }
      p {
        margin-left: 10px;
        color: orangered;
        text-underline: none;
      }
    }
    .content {
      p {
        color: black;
      }
    }
  }
}

input {
  margin: 0 auto;
  display: block;
}

h2 {
  text-align: center;
}
